#getbalances
{
  
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top:10px;
    margin-bottom: 50px;
    border: none
    2px solid ;
    border-radius: 10px;
    color:#E37F7C;
    background-color:#EFE0E2;
}

/* #root.getbalance
{
    width:1340px;
} */


#towidth
{
    width:1235px;
    margin-left: -10px;
}