.formcontrolC
{
    border: none;
    border-bottom: 1px solid #000;
    /* You can change the color as needed */
    background: none;
    padding: 5px 0;
    /* Adjust padding as needed */
    width: 450px;
    /* Set width as needed */
    box-sizing: border-box;
    outline: none;
    
}

.formcontrolC:focus,
.formcontrolC:hover {
  border-color: #007bff;
}

.balancelabel
{
    padding-right: 10px;
}

#Createaccounticon
{
  background-color: #E37F7C;
  margin-top: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 600px;
}

.AccountBorder {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 350px;
  width: 601px;
  border: solid 1px white;
  font-size: large;
  margin: 15px;
  background-color: #EFE0E2;
}

#headerC
{
  padding-bottom: 15px;
}