
.cards
{
  margin:0px;
  border: solid 1px white;
background-color: #EFE0E2;
  border-top-left-radius: 15px;
border-top-right-radius: 15px;
border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}




.horizontal-line{
    border: none;
    border-bottom: 1px solid #000; /* You can change the color as needed */
    background: none;
    padding: 5px 0; /* Adjust padding as needed */
    width: 500px; /* Set width as needed */
    box-sizing: border-box;
    outline: none; /* Remove default focus outline */
  }
  
  /* Optional: Add hover and focus effects */
  .horizontal-line:focus,
  .horizontal-line:hover {
    border-color: #007bff; /* Change color on hover/focus */
  }
  

  h1
  {
    margin-top: 15px;
    margin-bottom: 25px;
    color:rgb(75, 68, 95);
  }


  .register-border
  {
    height:700px ;
    
    width:600px;
    /* background-color: aqua; */
  }

  input
  {
    font-family:Arial, Helvetica, sans-serif;
    
  }

  #regicon
  {
    width:598px;
    background-color: #E37F7C;
    margin-top:10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  #registernows
  {
   
    color:#E37F7C;
  }

  #todown
  {
    margin-top: 10px;
  }