.getbal
{
    width:fit-content;
    height:fit-content;
    background-color: #E37F7C;
    border-radius: 6px;
    margin-left: 50px;
}
.DEP
{
    width:500px;
    height:fit-content;
    /* background-color: #382D5E; */
    background-color: #E37F7C;
    margin-left: 350px;
    border-radius: 6px;
}
#getbalances
{
  
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top:10px;
    margin-bottom: 50px;
    border: none
    2px solid ;
    border-radius: 10px;
    color:#E37F7C;
    background-color:#EFE0E2;
}

.horizontal-lines{
    border: none;
    border-bottom: 1px solid #000; /* You can change the color as needed */
    background: none;
    padding: 5px 0; /* Adjust padding as needed */
    width: 500px; /* Set width as needed */
    box-sizing: border-box;
    outline: none; /* Remove default focus outline */
    padding-left: 20px;
  }
  
  /* Optional: Add hover and focus effects */
  .horizontal-line:focus,
  .horizontal-line:hover {
    border-color: #007bff; /* Change color on hover/focus */
  }

  h3
  {
    padding-top: 25px;
    padding-left: 20px;
    color:#382D5E;
  }
  #getbalancer
  {
    display: none;
  }

  #wicon
  {
   
    padding-left:500px ;
    padding-bottom: 10px;
    align-items: center;
    display: flex;
    font-size:50px;
    color:#382D5E;
  }
  #wb
  {
    padding-bottom: 10px;
  }
  #cont
  {
   
    border: none
    2px solid ;
    border-radius: 10px;
    color:#E37F7C;
    background-color:#EFE0E2;
   
  }
  #cont1
  {
    margin-top: -30px;
    border: none
    2px solid ;
    border-radius: 10px;
    color:#E37F7C;
    background-color:#EFE0E2;
   
  }

  #dep
  {
    margin-top:-100px;
  }

  /* #balset
  {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top:10px;
    margin-bottom: 50px;
    border: none
    2px solid ;
    border-radius: 10px;
    color:#E37F7C;
    background-color:#EFE0E2;
  } */